<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>经历风和雨，方能见彩虹，我可以的。</string>
	<string>"古之成大事者,不唯有超世之才,亦必有坚韧不拔之志。 "</string>
	<string>失败只是一种心理状态，其他什么都不是。人生起落很多，不能因为一次小小的失误就消沉下去。人活着就是为了一种责任。</string>
	<string>"困难像弹簧,看你强不强.你强它就弱,你弱它就强. "</string>
	<string>事常与人违，事总在人为。</string>
	<string>骏马是跑出来的，强兵是打出来的。</string>
	<string>驾驭命运的舵是奋斗。不抱有一丝幻想，不放弃一点机会，不停止一日努力。</string>
	<string>如果惧怕前面跌宕的山岩，生命就永远只能是死水一潭。</string>
	<string>懦弱的人只会裹足不前，莽撞的人只能引为烧身，只有真正勇敢的人才能所向披靡。</string>
	<string>我们这个世界，从不会给一个伤心的落伍者颁发奖牌。</string>
	<string>梯子的梯阶从来不是用来搁脚的，它只是让人们的脚放上一段时间，以便让别一只脚能够再往上登。</string>
	<string>平时没有跑发卫千米，占时就难以进行一百米的冲刺。</string>
	<string>没有激流就称不上勇进，没有山峰则谈不上攀登。</string>
	<string>山路曲折盘旋，但毕竟朝着顶峰延伸。</string>
	<string>只有登上山顶，才能看到那边的风光。</string>
	<string>即使道路坎坷不平，车轮也要前进；即使江河波涛汹涌，船只也航行。</string>
	<string>只有创造，才是真正的享受，只有拚搏，才是充实的生活。</string>
	<string>敢于向黑暗宣战的人，心里必须充满光明。</string>
	<string>崇高的理想就象生长在高山上的鲜花。如果要搞下它，勤奋才能是攀登的绳索。</string>
	<string>种子牢记着雨滴献身的叮嘱，增强了冒尖的勇气。</string>
	<string>自然界没有风风雨雨，大地就不会春华秋实。</string>
	<string>只会幻想而不行动的人，永远也体会不到收获果实时的喜悦。</string>
	<string>勤奋是你生命的密码，能译出你一部壮丽的史诗。</string>
	<string>对于攀登者来说，失掉往昔的足迹并不可惜，迷失了继续前时的方向却很危险。</string>
	<string>奋斗者在汗水汇集的江河里，将事业之舟驶到了理想的彼岸。</string>
	<string>忙于采集的蜜蜂，无暇在人前高谈阔论。</string>
	<string>勇士搏出惊涛骇流而不沉沦，懦夫在风平浪静也会溺水。</string>
	<string>志在峰巅的攀登者，不会陶醉在沿途的某个脚印之中。</string>
	<string>海浪为劈风斩浪的航船饯行，为随波逐流的轻舟送葬。</string>
	<string>山路不象坦途那样匍匐在人们足下 。</string>
	<string>激流勇进者方能领略江河源头的奇观胜景。</string>
	<string>如果圆规的两只脚都动，永远也画不出一个圆。</string>
	<string>如果你想攀登高峰，切莫把彩虹当作梯子。</string>
	<string>脚步怎样才能不断前时？把脚印留在身后。</string>
	<string>不管多么险峻的高山，总是为不畏艰难的人留下一条攀登的路。</string>
	<string>让生活的句号圈住的人，是无法前时半步的。</string>
	<string>只要能收获甜蜜，荆棘丛中也会有蜜蜂忙碌的身影。</string>
	<string>进取乾用汗水谱烈军属着奋斗和希望之歌。</string>
	<string>生活呆以是甜的，也可以是苦的，但不能是没味的。你可以胜利，也可以失败，但你不能屈服。</string>
	<string>向你的美好的希冀和追求撒开网吧，九百九十九次落空了，还有一千次呢......</string>
	<string>"机会只对进取有为的人开放,庸人永远无法光顾. "</string>
	<string>"只会在水泥地上走路的人,永远不会留下深深的脚印. "</string>
	<string>"生命力的意义在于拚搏,因为世界本身就是一个竞技场. "</string>
	<string>"海浪的品格,就是无数次被礁石击碎又无数闪地扑向礁石. "</string>
	<string>"榕树因为扎根于深厚的土壤,生命的绿荫才会越长越茂盛.稗子享受着禾苗一样的待遇,结出的却不是谷穗. "</string>
	<string>"骄傲,是断了引线的风筝,稍纵即逝;自卑,是剪了双翼的飞鸟,难上青天.这两者都是成才的大忌. "</string>
	<string>"树苗如果因为怕痛而拒绝修剪,那就永远不会成材. "</string>
	<string>"经过大海的一番磨砺,卵石才变得更加美丽光滑. "</string>
	<string>"生活的激流已经涌现到万丈峭壁,只要再前进一步,就会变成壮丽的瀑布. "</string>
	<string>"向前吧,荡起生命之舟,不必依 恋和信泊,破浪的船自会一路开放常新的花朵. "</string>
	<string>"盆景秀木正因为被人溺爱,才破灭了成为栋梁之材的梦. "</string>
	<string>"如果把才华比作剑,那么勤奋就是磨刀石. "</string>
	<string>经受了火的洗礼泥巴也会有坚强的体魄.</string>
	<string>"山涧的泉水经过一路曲折,才唱出一支美妙的歌. "</string>
	<string>瀑布跨过险峻陡壁时，才显得格外雄伟壮观。</string>
	<string>通过云端的道路，只亲吻攀登者的足迹。</string>
	<string>彩云飘在空中，自然得意洋洋，但最多只能换取几声赞美；唯有化作甜雨并扎根于沃壤之中，才能给世界创造芳菲。</string>
	<string>教育是人才的娘家，社会是人才的婆家。</string>
	<string>桂冠上的飘带，不是用天才纤维捻制而成的，而是用痛苦，磨难的丝缕纺织出来的。</string>
	<string>没有一颗珍珠的闪光，是靠别人涂抹上去的。</string>
	<string>沙漠里的脚印很快就消逝了。一支支奋进歌却在跋涉者的心中长久激荡。</string>
	<string>你既然认准一条道路，何必去打听要走多久。</string>
	<string>如果为了安全而不和大海在一起，船就失去了存在的意义。</string>
	<string>蝴蝶如要在百花园里得到飞舞的欢乐，那首先得忍受与蛹决裂的痛苦。</string>
	<string>萤火虫的光点虽然微弱，但亮着便是向黑暗挑战。</string>
	<string>拒绝严峻的冶炼，矿石并不比被发掘前更有价值。</string>
	<string>要想成为强乾，决不能绕过挡道的荆棘也不能回避风雨的冲刷。</string>
	<string>行路人，用足音代替叹息吧！</string>
	<string>假如你从来未曾害怕、受窘、受伤害，好就是你从来没有冒过险。</string>
	<string>耕耘者最信和过自己的汗水，每一滴都孕育着一颗希望的种子。</string>
	<string>只有脚踏实地的人，才能够说：路，就在我的脚下。</string>
	<string>美丽的蓝图，落在懒汉手里，也不过是一页废纸。</string>
	<string>一时的挫折往往可以通过不屈的搏击，变成学问及见识。</string>
	<string>努力向上的开拓，才使弯曲的竹鞭化作了笔直的毛竹。</string>
	<string>竹根---即使被埋在地下无人得见，也决然不会停止探索而力争冒出新笋。</string>
	<string>希望，只有和勤奋作伴，才能如虎添翼。</string>
	<string>沉湎于希望的人和守株待兔的樵夫没有什么两样。</string>
	<string>没有风浪，便没有勇敢的弄潮儿；没有荆棘，也没有不屈的开拓者。</string>
	<string>世上所有美好的感情加在一起，也抵不上一桩高尚的行动。</string>
	<string>奋斗的双脚在踏碎自己的温床时，却开拓了一条创造之路。</string>
	<string>站在巨人的肩上是为了超过巨人。</string>
	<string>泉水，奋斗之路越曲折，心灵越纯洁。</string>
	<string>如果缺少破土面出并与风雪拚搏的勇气，种子的前途并不比落叶美妙一分。</string>
	<string>竹笋虽然柔嫩，但它不怕重压，敢于奋斗、敢于冒尖。</string>
	<string>不要让追求之舟停泊在幻想的港湾，而应扬起奋斗的风帆，驶向现实生活的大海。</string>
	<string>智者的梦再美，也不如愚人实干的脚印。</string>
	<string>耕耘者的汗水是哺育种子成长的乳汁。</string>
	<string>不去耕耘 ，不去播种，再肥的沃土也长不出庄稼，不去奋斗，不去创造，再美的青春也结不出硕果。</string>
	<string>让珊瑚远离惊涛骇浪的侵蚀吗？那无异是将它们的美丽葬送。</string>
	<string>再好的种子，不播种下去，也结不出丰硕的果实。</string>
	<string>如果可恨的挫折使你尝到苦果，朋友，奋起必将让你尝到人生的欢乐。</string>
	<string>瀑布---为了奔向江河湖海，即使面临百丈深渊，仍然呼啸前行，决不退缩</string>
	<string>对于勇士来说，贫病、困窘、责难、诽谤、冷嘲热讽......，一切压迫都是前进的动力。</string>
	<string>不从泥泞不堪的小道上迈步，就踏不上铺满鲜花的大路。</string>
	<string>幻想在漫长的生活征途中顺水行舟的人，他的终点在下游。只有敢于扬起风帆，顶恶浪的勇士，才能争到上游。</string>
	<string>望远镜---可以望见远的目标，却不能代替你走半步。</string>
	<string>不要嘲笑铁树。为了开一次花，它付出了比别的树种更长久的努力。</string>
	<string>生命力顽强的种子，从不对瘠土唱诅咒的歌。</string>
	<string>只要不放弃努力和追求，小草也有点缀春天的价值。</string>
	<string>松软的沙滩上最容易留下脚印。钽也最容易被潮水抹去。</string>
	<string>惊叹号是勇士滴在攀登路上的血，也是懦夫失望时流淌的泪。</string>
	<string>一帆风顺，并不等于行驶的是一条平坦的航线。</string>
	<string>在茫茫沙漠，唯有前时进的脚步才是希望的象征。</string>
	<string>攀登山顶的脚力，生于“欲穷千里目”的壮心和“不到长城非好汉”的意志。</string>
	<string>忍辛负重的耕牛，留下的脚印最清晰。</string>
	<string>帆的自豪，是能在风浪中挺起胸膛。</string>
	<string>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</string>
	<string>跑昨越快，遇到风的阻力越大。阻力与成就相伴随。</string>
	<string>天赋是埋藏在矿里的黄金，才能是挖掘矿藏的矿工。</string>
	<string>翘首盼来的春天属于大自然，用手织出的春天才属于自己。</string>
	<string>战士的意志要象礁石一样坚定，战士的性格要象和风一样温柔。</string>
	<string>谁把安逸当成幸福的花朵，那么等到结果时节，他只能望着空枝叹息。</string>
	<string>太阳虽有黑点，却在奋力燃烧中树立了光辉的形象。</string>
	<string>努力就是光，成功就是影。没有光哪儿来影？</string>
	<string>岸边的奇花异草，是拘留不住奔腾向前的江水的。</string>
	<string>没有斗狼的胆量，就不要牧羊。</string>
	<string>路灯经过一夜的努力，才无愧地领受第一缕晨光的抚慰。</string>
	<string>不安于现状，不甘于平庸，就可能在勇于进取的奋斗中奏响人生壮美的乐间。</string>
	<string>涓涓细流一旦停止了喧哗，浩浩大海也就终止了呼吸。</string>
	<string>只要是辛勤的蜜蜂，在生活的广阔原野里，到处都可以找到蜜源。</string>
	<string>勤奋的含义是今天的热血，而不是明天的决心，后天的保证。</string>
	<string>鞋底磨穿了，不等于路走到了头。</string>
	<string>事业的大厦如缺乏毅力的支柱，只能是空中楼阁。</string>
	<string>只有收获，才能检验耕耘的意义；只有贡献，方可衡量人生的价值。</string>
	<string>幻想者头脑里只有空中楼阁，实干家胸中才有摩天大厦。</string>
	<string>长蔓植物依附着支物向上爬，当它爬到比支撑它的支物不高时，它又窥伺着另一株支物。</string>
	<string>望洋兴叹的人，永远达不到成功的彼岸。</string>
	<string>沿着别人走出的道路前进时，应该踩着路边的荆棘，因为这样走多了，就能使道路增宽。</string>
	<string>新路开始常是狭窄的，但它却是自己延伸拓宽的序曲。</string>
	<string>闲适和宁静，对于浪花，意味着死亡。</string>
	<string>如果脆弱的心灵创伤太多，朋友，追求才是愈合你伤口最好的良药。</string>
	<string>马行软地易失蹄，人贪安逸易失志。</string>
	<string>松驰的琴弦，永远奏不出时代的强音。</string>
	<string>撒进奋斗的沃土，一滴汗珠就是一颗孕育希望的良种。</string>
	<string>根儿向纵深处延伸一寸，小树被狂风推倒的危险就减弱了一分。</string>
	<string>在懒汉的眼里，汗是苦的，脏的，在勤者的心上，汗是甜的，在勤者的心上，汗是甜的，美的。</string>
	<string>压力---在事业成功的道路上，你是无知者颓丧的前奏，更是有志者奋进的序曲。</string>
	<string>在避风的港湾里，找不到昂扬的帆。</string>
	<string>空谈家用空谈来装饰自己，实干家用实干去创造业绩。</string>
	<string>英雄的事业必定包含着艰险，如果没有艰险也就不成为英雄了。</string>
	<string>如果刀刃怕伤了自己而不与磨刀石接触，就永远不会锋利。</string>
	<string>有建树的人，并非具备了比一般人更优越的条件，相反，他们要经过更多的磨练，走更艰辛的路。</string>
	<string>实干家在沙漠里也能开垦出绿洲，懒惰者在沃野上也不会获得丰收。</string>
	<string>不举步，越不守栅栏，不迈腿，登不上高山。</string>
	<string>消沉就角一支单调的画笔，只能给未来涂上一层灰色。</string>
	<string>假如樵夫害怕荆棘，船只避忌风浪，铁匠畏惧火星，那么，世界就会变成另一副模样。</string>
	<string>收获是事业的雨量计；聚集着奋斗者洒落的每滴汗珠。</string>
	<string>无穷的伟大，也是从“一”开始的。</string>
	<string>花的生命虽然短暂，但它毕竟拥抱过春天。</string>
	<string>天才之舟，在汗水的河流里启程。</string>
	<string>在林荫路上散步不值得称赞，攀登险峰才有真正的乐趣。</string>
	<string>懒惰包含着永久的失望。</string>
	<string>希望是美好的，她令人神往、追求、但是希望伴随着风浪。贪图安逸的人，他的希望不过是一带道路、一种幻境，只有敢于和狂风巨浪拚搏的人，希望才会开出鲜花，结出硕果。</string>
	<string>小溪---在生命的长河里，你前进的步伐每时每刻都拨动着大海心中的琴弦。</string>
	<string>如果把成才比作登天，自学便是成才的天梯。</string>
	<string>只有脚踏实地的人，大地才乐意留下他的脚印。</string>
	<string>钢钎与顽石的碰撞声，是一首力的歌曲。</string>
	<string>贪图省力的船夫，目标永远下游。</string>
	<string>浪花永不凋萎的秘诀：永远追求不安闲的生活。</string>
	<string>要是你的心本来就在燃烧，那么一旦需要，掏出来就可以当火把。</string>
	<string>纤夫在河边留下一串脚印，那是跋涉者生活的省略号。</string>
	<string>眼睛里没有追求的时候，一定是心如死灰的时候。</string>
	<string>蚌下苦轼的时候是不作声的，献出来的终于是明珠。</string>
	<string>与其是无数遍地重温那个虚幻的玫瑰式的梦，还不如去一个静静的湖畔采一朵金黄色的野菊花。</string>
	<string>踏着过去的脚印，不会增加新的脚印。</string>
	<string>痛苦的记忆是泪水洗不净的，只有汗水才能把它冲掉。</string>
	<string>只要你想种下美好记忆的种子，便能找到你心灵中的处女地。开垦吧，现在就开始。</string>
	<string>攀登者智慧和汗水，构思着一首信念和意志的长诗。</string>
	<string>执着的攀登者不必去与别人比较自己的形象是否高大，重要的是要多多思考自己前进的脚步是否扎实。</string>
	<string>埋首俯身，全为了奋力向上，并不是对头上的太阳缺乏感情。</string>
	<string>腰板挺得笔直的人，终究不会走在攀登者队伍的前列。</string>
	<string>浪花，从不伴随躲在避风港的小表演，而始终追赶着拚搏向前的巨轮。</string>
	<string>克服困难，勇敢者自有千方百计，怯懦者只感到万般无奈。</string>
	<string>燕子嘴上的春泥，别看它点点滴滴，筑不成大厦，却能垒起幸福之巢。</string>
	<string>砖---经受过炉火的考验，才有资格成为大厦的一员。</string>
	<string>正是礁石的阻挡，才使浪花显得美丽。</string>
	<string>在逆境中要看到生活的美，在希望中别忘记不断奋斗。</string>
	<string>为了成材，松树从不向四季如春的温室外献殷勤。</string>
	<string>松树在悬崖峭壁上巍然挺立，雄风不衰，是因为它具有勇于傲霜斗雪的内在气质。</string>
	<string>盲人眼前虽然一片漆黑，但脚下同样可以开拓出一条光明的路.</string>
	<string>荆棘、坎坷是磨砺开拓者意志的摇复；困难艰险，是开拓者前进路上的垫脚石。</string>
	<string>勤奋可以弥补聪明的不足，但聪明无法弥补懒惰的缺陷。</string>
	<string>停止奋斗的脚步，江河就会沦为一潭死水。</string>
	<string>在为事业奋斗的征途上，拄着双拐的人虽然步履艰难，但只要有一颗奋发不息的心则可以登上成功的峰巅的。</string>
	<string>浪花总是着扬帆者的路开放的。</string>
	<string>离开奋斗的沃壤，天赋的种子便寻不到春华秋实的前程。</string>
	<string>同样的旋车，车轮不知前进了多少 ，陀螺却仍在原处。</string>
	<string>小鸟眷恋春天，因为它懂得飞翔才是生命的价值。</string>
	<string>为了走上成材的道路，钢铁决不惋惜璀璨的钢花被遗弃。</string>
	<string>开拓者走的是弯弯曲曲的路，而他留下的却是又直又宽的足迹。</string>
	<string>海浪宁可在挡路的礁山上撞得粉碎，也不肯后退一步。</string>
	<string>即使脚步下是一片岩石，它也会迸发出火花，只要你拿起铁锤钢钎。</string>
	<string>上游，是勇士劈风破浪的终点，下游，是懦夫一帆风顺的归宿。</string>
	<string>躺在被窝里的人，并不感到太阳的温暖。</string>
	<string>人最可悲的是自己不能战胜自己。</string>
	<string>奋斗者的幸福是从痛苦起步的，享乐者的痛苦是从“幸福”开始的。</string>
	<string>沟潭之水，凝滞沉闷，飞瀑之流，奋迅高亢——同是为水，性却异，前者满足安逸，后者进取不已。</string>
	<string>失败是坚忍的最后考验。</string>
	<string>对于不屈不挠的人来说，没有失败这回事。</string>
	<string>一次失败，只是证明我们成功的决心还够坚强。</string>
	<string>失败也是我需要的，它和成功对我一样有价值。</string>
	<string>我们关心的，不是你是否失败了，而是你对失败能否无怨。</string>
	<string>暂时的失利，比暂时的胜利好得多。</string>
	<string>经一番挫折，长一番见识</string>
	<string>越碰钉子越有心眼</string>
	<string>初生之犊十八跌</string>
	<string>从跌跤中学会走路（哈萨克族）</string>
	<string>不磕不碰，骨头不硬</string>
	<string>小孩是经过跌倒再跌倒，才逐渐长大的（苏联）</string>
	<string>事情的成败以结果为断，中间的波折不足为论（德国）</string>
	<string>不计波折多，但望结局好（俄罗斯）</string>
	<string>流水在碰到抵触的地方，才把它的活力解放（歌德）</string>
	<string>不识坎离颠倒，谁能辨，金木沉浮（宋·吕岩）</string>
	<string>我认为挫折磨难是锻炼意志增加能力的好机会，讲到这一点，我还要对千方百计诬陷者表示无限的谢意（邹韬奋）</string>
	<string>火无终日旺，花无百日红</string>
	<string>天有阴晴，事有成败</string>
	<string>月无常圆，花无常红</string>
	<string>月有圆和缺，人有聚和别</string>
	<string>月儿有圆缺，花儿有开有谢</string>
	<string>花有谢时，筵有散时</string>
	<string>月有云遮，花有风吹（日本）</string>
	<string>有一兴必有一败</string>
	<string>江河不曲水不流</string>
	<string>事有百折百变</string>
	<string>坏事的道路顺溜溜，成事的道路弯曲曲（维吾尔族）</string>
	<string>长的旅途，必有崎岖</string>
	<string>最曲折的路有时最简捷（孚希特万格）</string>
	<string>正路并不一定就是一条平平坦坦的直路，难免有些曲折和崎岖险阻，要绕一些弯，甚至难免会误入歧途（朱光潜）</string>
	<string>曾经念导航的考研班是的宣传口号，既然选择了远方，便只顾风雨兼程！</string>
	<string>英国的首相丘吉尔的话——人尽其力，力尽其责。</string>
	<string>问题的关键不是你的困难，使你最终想得到什么，若是真有执念，你的问题又不是什么荒诞的妄想，不成功，是你不够努力，再多的名言比不上你的一个念想，不要逃避。</string>
	<string>年轻没有失败，是好马总会被人发现的，困难永远是成功的阶下囚。我也不会给你说什么长篇大论，只有这些，关键得靠自己。</string>
	<string>吃得苦中苦，方为人上人！</string>
</array>
</plist>
